@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<div style="height:80vh">
    <SVGEditor Input=@Input InputUpdated="DrawingBoardUpdate" SelectionMode="SelectionMode.WindowSelection" DisableZoom=true DisableScaleLabel=true/>
</div>

@code {
    protected string Input = @"";

    private void DrawingBoardUpdate(string input)
    {
        Input = input;
        InvokeAsync(StateHasChanged);
    }
}
